@media (min-width: 992px) {
    .navbar-vertical.navbar-expand-lg~.navbar-top~.content {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
        margin-left: 0rem !important;
    }

    .content {
        /* min-height: 0 !important; */
        padding: 20px !important;
        position: 0 !important;
        padding-bottom: 0 !important;
    }

   
    
}
